<ion-header>
  <ion-toolbar style="--background : #38393d ">
    <ion-buttons slot="start">
      <ion-menu-button style="color: #f2c21e;"></ion-menu-button>
    </ion-buttons>
    <ion-title style="color: #f2c21e;text-align: center;font-size: 18px;">{{'Notification' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content style="--background :#38393d; ">
  <ion-list style="margin-top:-10px; padding-top: 20px;background: transparent;">
    <ion-card style="border-radius: 15px;background: black; margin: 10px;" *ngFor="let notify of Notifications">
      <ion-item style="--background: #717171; border-bottom: 3px solid #f2c21e;">
        <div style="color: white;margin: 5px;width: 100%;"><span style="color:#f2c21e;">{{'Title' | translate}} :</span>
          {{notify.title}}</div>
        <br>
        <div style="color: white;margin: 5px;width: 100%;position: absolute;top: 50%;"><span
            style="color:#f2c21e;">{{'NDate' | translate}} :</span>
          {{notify.created_at | date: 'dd/MM/yyyy'}} / {{notify.created_at | date: 'HH:mm'}}</div>
      </ion-item>
      <ion-card-content>
        <ion-grid>
          <ion-row style="color: #f2c21e;">
            <ion-col>
              <h2 style="font-size: 16px;"><span style="color:white;">{{notify.body}}</span>
              </h2>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </ion-list>
  <div *ngIf="Notifications.length < 1" style="text-align: center;
  margin-top: 50%;
  padding: 10px;
  color: white;
">{{'NoNotify' | translate}}</div>
</ion-content>