<!-- <ion-header>
  <ion-toolbar>
    <ion-title>intro</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <div class="bg-yellow full-height" full-height>
    <div class="main-container">
      <div id="logo-box">
        <img class="logo vertical-middle" src="assets/img/logo.png" />
      </div>
      <div id="sign-in-box">
        <div class="vertical-middle">
          <ion-input
            (click)="OpenRegister()"
            id="signup-redirect-btn"
            class="btn bg-yellow border-white"
            type="button"
            value="{{'New_User' | translate}}"
          ></ion-input>
          <br />
          <ion-input
            (click)="OpenLogin()"
            id="signIn-redirect-btn"
            class="btn bg-white"
            type="button"
            value="{{'Sign_In' | translate}}"
          >
          </ion-input>
          <!-- <a class='a m-top-10'>
            Forgot Password?</a> -->
        </div>
      </div>
      <!-- <div id='sign-in-with' class='text-center'>
        <div class='vertical-middle'>

          <div class='white-line'></div>
          <div class='line-title text-center'>
            <span class='bg-yellow'>
              {{'Or_sign_In_with' | translate}}</span>
          </div>

          <a (click)="facebookLogin()"><img src='assets/img/icons/fb.png' /></a>
        </div>
      </div>-->
    </div>
  </div>
  <div class="color-white text-center net-error">No network connection!</div>
</ion-content>
