<!-- <ion-header>
  <ion-toolbar>
    <ion-title>signup</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content id='sign-up-page'> 
  <!-- <ion-button (click)="testUpload()">Go</ion-button> -->
  <div id='sign-up-page' class='set-bg' class='bg-grey' style="height: 145vh;">
    <form [formGroup]="DriverForm" id='sign-up-page'>
      <div class='head-bar bg-black'>
        <p class='vertical-middle text-center color-yellow big-font'>
          {{'SIGN_UP' | translate}}</p>
        <div class='close-icon' (click)="closeSignUp1()">
          <img class='vertical-middle icon-25 ' src='assets/img/icons/close.png' />
        </div>
      </div>
      <div style="padding-top: 5%;" (click)="dataSrv.presentActionSheet(1)" align="center">
        <img *ngIf="dataSrv.photo != null" src="{{dataSrv.photo}}" class="round-img" style="opacity: 0.8;">
        <img *ngIf="dataSrv.photo == null" src="assets/img/noImage.jpg" class="round-img" style="opacity: 0.8;">
      </div>
      <div class='content-box'>
        <div id='login-from-box' class='m-top-20' ng-form='sign_up_form'>
          <div class='main-container'>
            <div class='input-box'>
              <ion-input formControlName="name" name='name' placeholder="{{'Name' | translate}}" class='color-yellow'
                type='text' required></ion-input>
              <ion-icon class='input-icon icon-20' name="information-circle-outline"></ion-icon>
              <!-- <img class='input-icon icon-20' src='assets/img/icons/user.png' /> -->
            </div>
            <br>
            <div class='input-box'>
            <ion-select style="padding: 10px;" placeholder="Select One" okText="{{'Ok' |translate}}" cancelText="{{'Cancel' |translate}}" name='gender' required placeholder="{{'Gender' | translate}}"
                class='color-yellow' formControlName="gender">
                <ion-select-option value="2">{{'Female' | translate}}</ion-select-option>
                <ion-select-option value="1">{{'Male' | translate}} </ion-select-option>
            </ion-select>
            </div>
            <br>
            <div class='input-box'>
              <ion-input formControlName="user_name" name='user_name' placeholder="{{'User_Name' | translate}}"
                class='color-yellow' type="text" required></ion-input>
              <ion-icon name="person" class='input-icon icon-20'></ion-icon>

              <!-- <img class='input-icon icon-20' src='assets/img/icons/user.png' /> -->
            </div>
            <br>

            <div class='input-box'>
              <ion-input name='pwd' formControlName="password" placeholder="{{'Password' | translate}}"
                class='color-yellow' ng-minlength='6' type='password' required></ion-input>
              <ion-icon class='input-icon icon-20' name="keypad-outline"></ion-icon>
              <!-- <img class='input-icon icon-20' src='assets/img/icons/lock.png' /> -->
            </div>
            <br>
            <div class='input-box'>
              <ion-input formControlName="phone" placeholder="{{'Phone' | translate}}" type='number'
                class='color-yellow' type='number' ng-minlength="10" ng-maxlength="10" required></ion-input>
              <ion-icon class='input-icon icon-20' name="call-outline"></ion-icon>
              <!-- <img class='input-icon icon-20' src='assets/img/icons/mobile.png' /> -->
            </div>
            <br>

            <div class='input-box'>
              <ion-input name='mail' formControlName="email" required ng-model='signUp.mail'
                placeholder="{{'Mail' | translate}}" class='color-yellow' type='email'></ion-input>
              <ion-icon class='input-icon icon-20' name="mail-open-outline"></ion-icon>
              <!-- <img class='input-icon icon-20' src='assets/img/icons/mail.png' /> -->
            </div>

            <br>

            <div class='input-box'>
              <ion-input name='address' required placeholder="{{'Address' | translate}}" class='color-yellow'
                type='text' formControlName="address" value="{{dataSrv.address}}" (ionFocus)="dataSrv.GetMap()">
              </ion-input>
              <ion-icon class='input-icon icon-20' name="navigate-circle-outline"></ion-icon>
              <!-- <img class='input-icon icon-20' src='assets/img/icons/mail.png' /> -->
            </div>
            <br>
            <ion-row size="12">
              <ion-col size="6" style="margin-top: 10px;color: #caa21b;text-align: center;">
                <div class="container" align="center">
                  <ion-buttons *ngIf="dataSrv.card_id != null">
                    <ion-button class="btn" (click)="delete(2)">
                      x
                    </ion-button>
                  </ion-buttons>
                  <img id="myImg" *ngIf="dataSrv.card_id != null" src="{{dataSrv.card_id}}" class="addImg"
                    imageViewer />
                  <img id="myImg" *ngIf="dataSrv.card_id == null" src="assets/img/addImage.jpg" class="addImg"
                    (click)="dataSrv.presentActionSheet(2)" />
                </div>
                <span style="font-size: small;">{{'Personnel_Card' | translate}}</span>
              </ion-col>
              <ion-col size="6" style="margin-top: 10px;color: #caa21b;text-align: center;">
                <div class="container" align="center">
                  <ion-buttons *ngIf="dataSrv.student_id != null">
                    <ion-button class="btn" (click)="delete(3)">
                      x
                    </ion-button>
                  </ion-buttons>
                  <img id="myImg" *ngIf="dataSrv.student_id != null" src="{{dataSrv.student_id}}" class="addImg"
                    imageViewer />
                  <img id="myImg" *ngIf="dataSrv.student_id == null" src="assets/img/addImage.jpg" class="addImg"
                    (click)="dataSrv.presentActionSheet(3)" />
                </div>
                <span style="font-size: small;">{{'Student_Card' | translate}}</span>
              </ion-col>
            </ion-row>
            <ion-item style="--background:transparent">
              <a style="color: #caa21b;text-decoration: underline;margin: 5px;"
                href="http://thurayaalnajjar.info/terms.html">{{'Terms_roles' | translate}}</a>
              <ion-checkbox slot="start" [(ngModel)]="isChecked" [ngModelOptions]="{standalone: true}"></ion-checkbox>
            </ion-item>
            <input (click)="Register()" class='btn bg-yellow color-white big-font m-top-butn-10' type='button'
              value="{{'SIGN_UP' | translate}}" />
          </div>
        </div>
      </div>
    </form>
  </div>
</ion-content>