<ion-header>
  <ion-toolbar color="primary">
    <ion-searchbar [(ngModel)]="autocomplete.input" (ionInput)="updateSearchResults()" placeholder="Search for a place">
    </ion-searchbar>
  </ion-toolbar>
  <ion-list [hidden]="autocompleteItems.length == 0">
    <ion-item *ngFor="let item of autocompleteItems" tappable (click)="selectSearchResult(item)">
      {{ item.description }}
    </ion-item>
  </ion-list>
</ion-header>

<ion-content>
  <div #map id="map" style="opacity:0.8"></div>
  <ion-input hidden="true" id="latbox" #latbox></ion-input>
  <ion-input hidden="true" id="lngbox" #lngbox></ion-input>
  <ion-button fill="block" color="secondary" (click)="GoTo(latbox.value,lngbox.value)" style="margin-top:2%;">
    {{"Add Address" | translate}}
  </ion-button>
</ion-content>